* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
}


.content {
    width: 80%;
    background-color: rgb(196, 127, 0);
    margin: auto;

   border: 5px solid black;
    box-shadow: 5px 5px 5px rgb (0, 0, 0, .5);

}


.content-play {
    display: flex;
    border-color: 10px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    margin-top: 10px;
    flex-wrap:wrap;
    

}

.player  .machine{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}



.player-img,
.machine-img {
    width: 50%;
    height: 50%;



}

h2 {
    text-align: center;

}


/*Content image*/
.content-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 10px;
    cursor: pointer;


}

.content-img img {
    width: 70%;
    height:70%;
    align-items: center;
    cursor: pointer;

}


.count-player , .count-machine {
    margin:auto;
    font-size: 80px;
}

/*RESULT*/

.result h2{
    color: palegoldenrod;
}

.result{
    text-align: center;
    font-size: 40px;
    color:white;
    margin:10px 0 10px 0;
}
.result-option{
    text-align: center;
    font-size: 40px;
    color:white;
    margin:10px 0 10px 0;
}


.btn-rock, .btn-papper, .btn-scissor{
    background-color: rgb(196, 127, 0);
    outline:none;
    border:0;
}

button{
    outline:none;
    border:0 ;  
}